{% ckan_extends %}

{% block form %}
  <form action="" method="post" class="form-inline control-medium">
    <label for="field-username">{{ _('Username or Email') }}</label>
    <input id="field-username" name="user" value="" type="text" />
    {% block form_button %}
    <button class="btn btn-primary" type="submit" name="reset">{{ _("Request reset") }}</button>
    {% endblock %}
  </form>
{% endblock %}

{% block help_inner %}
<h2 class="module-heading">{{ _('Create password') }}</h2>
<div class="module-content">
  <p>{% trans %}Enter your username into the box and we will send you
  an email with a link to enter a new password.{% endtrans %}</p>
</div>
{% endblock %}
