{% ckan_extends %}

{% block bodytag %} data-site-root="{{ h.url_for('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url_for('/', qualified=true) }}"
  {%- if 'dataset' in self.subtitle().lower() -%}
    class="dataset"
  {%- elif 'publisher' in self.subtitle().lower() -%}
    class="publisher"
  {%- elif 'harvest' in self.subtitle().lower() -%}
    class="harvest"
  {%- elif 'usage' in self.subtitle().lower() -%}
    class="site"
  {% else %}
    {# no highlight class needed #}
  {%- endif %}
{% endblock %}

{% block head_extras %}
  {% set ga_id = h.google_analytics_tracking_id() %}
  {% if ga_id %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create','{{ ga_id }}', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  {% endif %}
  {{ super() }}
{% endblock %}

{% block custom_styles %}
  {{ super() }}
  <link rel="stylesheet" href="/datagovuk.css" />
{% endblock %}
