{% ckan_extends %}

{% block header_logo %}
  <span class="header-logo">
    <a href="{{ h.url_for('home.index') }}">
      {{ g.site_title }}
      {% if g.site_description %} | {{ g.site_description }}{% endif %}
    </a>
  </span>
{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('dataset.search', _('Datasets')),
    ('organization.index', _('Organizations')),
  ) }}
  <li>{{ h.nav_link(_('Harvest'), named_route='harvest_search') }}</li>
  <li><a href="https://data.gov.uk/support">Support</a></li>
{% endblock %}

{% block header_site_search %}
{# Remove the search box from header #}
{% endblock %}

{% block header_account_logged %}
  {% if c.userobj.sysadmin %}
    <li>
      <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
        <i class="fa fa-gavel" aria-hidden="true"></i>
        <span class="text">{{ _('Admin') }}</span>
      </a>
    </li>
  {% endif %}
  <li>
    <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
      {{ h.user_image((c.user if c and c.user else ''), size=22) }}
      <span class="username">{{ c.userobj.display_name }}</span>
    </a>
  </li>
  {% block header_dashboard %}
  <li>
    <a href="{{ h.url_for('dashboard.datasets') }}" title="{{ _("View dashboard") }}">
      <i class="fa fa-tachometer" aria-hidden="true"></i>
      <span class="text">{{ _('Dashboard') }}</span>
    </a>
  </li>
  {% endblock %}
  {% block header_account_settings_link %}
    <li>
      <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span class="text">{{ _('Profile settings') }}</span>
      </a>
    </li>
  {% endblock %}
  {% block header_account_log_out_link %}
    <li>
      <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
        {{ _('Log out') }}
      </a>
    </li>
  {% endblock %}
{% endblock %}
