{% ckan_extends %}

{% block header_logo %}
  <span class="header-logo">
    <a href="{{ h.url_for('home') }}">
      {{ g.site_title }}
      {% if g.site_description %} | {{ g.site_description }}{% endif %}
    </a>
  </span>
{% endblock %}

{% block header_site_navigation_tabs %}
  {{ h.build_nav_main(
    ('search', _('Datasets')),
    ('organizations_index', _('Organizations')),
    ('harvest_index', _('Harvest'))
  ) }}
{% endblock %}

{% block header_site_search %}
{# Remove the search box from header #}
{% endblock %}

