{% ckan_extends %}

{% block page_primary_action %}
  <div class="btn-group">
        <ul class="dropdown-menu">
      {% for option in h.get_allowed_view_types(c.resource, c.pkg_dict)  %}
        {% set url = h.url_for(controller='dataset', action='edit_view', id=c.pkg_dict.name, resource_id=c.resource.id, view_type=option[0]) %}
        <li><a class="dropdown-item" href="{{ url }}"><i class="fa fa-{{ option[2] }}"></i> {{ option[1] }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% asset 'vendor/reorder' %}
{% endblock %}
