<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span10 col1">
        <div class="module-content home-content">
          <header>
            <h1 class="home-heading">{{ _("Publish and update data for your organisation") }}</h1>
            <p class="home-text">
              {{ _("You must create an account to use this service.") }}
            </p>
            <p class="home-text">
              {{ _("If you already have an account, sign in to publish a new dataset or update an existing one.") }}
            </p>
          </header>
        </div>
      </div>
    </div>
  </div>
</div>
<div role="footer" class="home-footer">
  <div class="container">
    <div class="row row1">
      <div class="span10 col1">
        <div class="module-content home-footer">
          <h1 class="home-footer-heading">{{ _("Contact the very fashionable data.gov.uk team") }}</h1>
          <p class="home-footer-text">
            {{ _("data.gov.uk is built by Government Digital Service") }}
          </p>
          <p class="home-footer-text">
            <a href="https://data.gov.uk/support">{{ _("Contact support") }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
