# DB image settings
POSTGRES_PASSWORD=ckan
PGDATA=/var/lib/postgresql/data/ckan/
DATASTORE_READONLY_PASSWORD=datastore

# Version settings
CKAN_VERSION=2.10

# Basic
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5001
CKAN_PORT=5001
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=your_email@example.com
TZ=UTC
CKAN_DEBUG=false
DGU_TEST_DATA=false
START_CKAN=1
CKAN_DB_HOST=db

# Database connections (TODO: avoid duplication)
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@db/ckan
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# DGU Find settings
CKAN_URL=http://ckan:5000
RAILS_ENV=development
REDIS_HOST=redis
RAILS_LOG_TO_STDOUT=1
CKAN_REDIRECTION_URL=locahost:5001
SOLR_URL=http://solr:8983/solr/ckan

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Other services connections
CKAN_SOLR_URL=http://solr:8983/solr/ckan
CKAN_REDIS_URL=redis://redis:6379/1
CKAN_DATAPUSHER_URL=http://datapusher:8800

TEST_CKAN_SITE_URL=http://test.ckan.net
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_HOSTNAME=redis

# Core settings
CKAN__STORAGE_PATH=/var/lib/ckan

CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost

# Extensions

CKAN__PLUGINS=recline_view envvars datagovuk_publisher_form datagovuk dcat harvest ckan_harvester dcat_rdf_harvester dcat_json_harvester dcat_json_interface spatial_metadata spatial_query spatial_harvest_metadata_api gemini_csw_harvester gemini_waf_harvester gemini_doc_harvester inventory_harvester
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1
CKAN__HARVEST__TIMEOUT=10

CKAN_S3_AWS_ACCESS_KEY_ID=dummy_value
CKAN_S3_AWS_SECRET_ACCESS_KEY=dummy_value
CKAN_S3_BUCKET_NAME=dummy_value
CKAN_S3_URL_PREFIX=dummy_value
CKAN_S3_AWS_REGION_NAME=dummy_value

# test data credentials
CKAN_TEST_SYSADMIN_NAME=ckan_admin_test
CKAN_TEST_SYSADMIN_PASSWORD=test1234
