{% ckan_extends %}

{% block custom_fields %}
  {{ form.input('contact-name', label=_('Contact Name'), id='field-contact-name', value=data.get('contact-name',''), error=errors.get('contact-name','')) }}
  {{ form.input('contact-email', label=_('Contact Email'), id='field-contact-email', value=data.get('contact-email',''), error=errors.get('contact-email','')) }}
  {{ form.input('contact-phone', label=_('Contact Phone'), id='field-contact-phone', value=data.get('contact-phone',''), error=errors.get('contact-phone','')) }}
  {{ form.input('foi-name', label=_('FOI Name'), id='field-foi-name', value=data.get('foi-name',''), error=errors.get('foi-name','')) }}
  {{ form.input('foi-email', label=_('FOI Email'), id='field-foi-email', value=data.get('foi-email',''), error=errors.get('foi-email','')) }}
  {{ form.input('foi-web', label=_('FOI Web'), id='field-foi-web', value=data.get('foi-web',''), error=errors.get('foi-web','')) }}
  {{ form.input('foi-phone', label=_('FOI Phone'), id='field-foi-phone', value=data.get('foi-phone',''), error=errors.get('foi-phone','')) }}
{% endblock %}

  {% block basic_fields %}
    {% set attrs = {'data-module': 'slug-preview-target'} %}
    {{ form.input('title', label=_('Name'), id='field-name', placeholder=_('My Organization'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

    {# Perhaps these should be moved into the controller? #}
    {% set prefix = h.url_for(controller='organization', action='read', id='') %}
    {% set domain = h.url_for(controller='organization', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<publisher>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-organization'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my organization...'), value=data.description, error=errors.description) }}

    {{ form.select('category', label=_('Category'), options=h.publisher_category(), selected=data.get('category', ''), error=errors.category, attrs={'class': 'form-control'}) }}

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}

  {% endblock %}
