{% ckan_extends %}

{% block extras %}
  {% if pkg_dict.get('theme-primary','') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Primary Theme") }}</th>
      <td class="dataset-details">{{ h.themes()[pkg_dict.get('theme-primary','')] }}</td>
    </tr>
  {% endif %}
  {% if pkg_dict.get('schema-vocabulary','') %}
    <tr>
      <th scope="row" class="dataset-label">{{ _("Schema/Vocabulary") }}</th>
      <td class="dataset-details">
        {% for schema in h.get_dataset_schemas(pkg_dict.get('schema-vocabulary', [])) %}
          {{ h.schemas()[schema] }}
          <br>
        {% endfor %}
      </td>
    </tr>
  {% endif %}
{% endblock %}
