{% ckan_extends %}

{% block package_metadata_author %}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% endblock %}

{% block custom_fields %}
{# This block appears at the bottom of the form, in place of the custom fields in default CKAN #}
<div class="control-group">
  <label class="control-label" for="theme-primary">{{ _("Primary Theme") }}</label>
  <div class="controls">
    <select id="field-theme-primary" name="theme-primary" data-module="autocomplete">
      {% for theme_key, theme_val in h.themes().iteritems() %}
        <option value="{{ theme_key }}" {% if data.get('theme-primary', '') == theme_key %}selected="selected"{% endif %}>{{ theme_val }}</option>
      {% endfor %}
    </select>
    {% if errors.get('theme-primary', '') %}
      <span class="error-block">
        <p class="field_error">{{errors.get('theme-primary', '')}}</p>
      </span>
    {% endif %}
  </div>
</div>
<div class="control-group">
  {{ _("By default, the contact details for your organisation will be displayed alongside this dataset.  You can override them for only this dataset by specifying them here.") }}
</div>
{% endblock %}

