{% ckan_extends %}

{% block package_metadata_author %}
{% endblock %}

{% block package_metadata_fields_maintainer %}
{% endblock %}

{% block package_metadata_fields_url %}
{% endblock %}

{% block custom_fields %}
{# This block appears at the bottom of the form, in place of the custom fields in default CKAN #}
<div class="form-group control-group">
  <label class="control-label col-md-3" for="theme-primary">{{ _("Theme") }}</label>
  <div class="controls col-md-4">
    <select id="field-theme-primary" class="form-control" name="theme-primary">
      <option value></option>
      {% for theme in h.alphabetise_dict(h.themes()) %}
        <option value="{{ theme[0] }}" {% if data.get('theme-primary', '') == theme[0] %}selected="selected"{% endif %}>{{ theme[1] }}</option>
      {% endfor %}
    </select>
    {% if errors.get('theme-primary', '') %}
      <span class="error-block">
        <p class="field_error">{{errors.get('theme-primary', '')}}</p>
      </span>
    {% endif %}
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="schema-vocabulary">{{ _("Schema/Vocabulary") }}</label>
  <div class="controls col-md-9">
    <select id="field-schema-vocabulary" class="form-control" name="schema-vocabulary">
      <option value></option>
      {% for schema in h.alphabetise_dict(h.schemas()) %}
        <option value="{{ schema[0] }}" {% if data.get('schema-vocabulary', '') == schema[0] %}selected="selected"{% endif %}>{{ schema[1].decode("utf8") }}</option>
      {% endfor %}
    </select>
    {% if errors.get('schema-vocabulary', '') %}
    <span class="error-block">
      <p class="field_error">{{errors.get('schema-vocabulary', '')}}</p>
    </span>
    {% endif %}
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="codelist">{{ _("Code Lists") }}</label>
  <div class="controls col-md-9">
    <select id="field-codelist" name="codelist" class="form-control">
      <option value></option>
      {% for codelist in h.alphabetise_dict(h.codelist()) %}
        <option value="{{ codelist[0] }}" {% if data.get('codelist', '') == codelist[0] %}selected="selected"{% endif %}>{{ codelist[1] }}</option>
      {% endfor %}
    </select>
    {% if errors.get('codelist', '') %}
    <span class="error-block">
      <p class="field_error">{{errors.get('codelist', '')}}</p>
    </span>
    {% endif %}
  </div>
</div>
<div class="form-group control-group">
  <p>{{ _("By default, the contact details for your organisation will be displayed alongside this dataset.  You can override them for only this dataset by specifying them here.") }}</p>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="contact-name">{{ _("Contact Name") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-contact-name" name="contact-name" class="form-control" value="{{ data.get('contact-name','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="contact-email">{{ _("Contact Email") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-contact-email" name="contact-email" class="form-control" value="{{ data.get('contact-email','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="contact-phone">{{ _("Contact Phone") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-contact-phone" name="contact-phone" class="form-control" value="{{ data.get('contact-phone','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="foi-name">{{ _("FOI Name") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-foi-name" class="form-control" name="foi-name" value="{{ data.get('foi-name','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="foi-email">{{ _("FOI Email") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-foi-email" class="form-control" name="foi-email" value="{{ data.get('foi-email','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="foi-web">{{ _("FOI Web") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-foi-web" class="form-control" name="foi-web" value="{{ data.get('foi-web','') }}">
  </div>
</div>
<div class="form-group control-group">
  <label class="control-label col-md-3" for="foi-phone">{{ _("FOI Phone") }}</label>
  <div class="controls col-md-4">
    <input type="text" id="field-foi-phone" class="form-control" name="foi-phone" value="{{ data.get('foi-phone','') }}">
  </div>
</div>
<div class="form-group control-group">
  {{ _("Metadata fields from datasets will be publicly available to users - including (where provided to us) personal information such as contact details for responsible parties.") }}
</div>
{% endblock %}

{% block package_metadata_fields_version %}
{% endblock %}
