{% ckan_extends %}

{% block basic_fields_url %}
  {% if h.activate_upload(pkg_name) %}
      <div style="margin-left: 100px;margin-bottom: 20px;">
          Additional help can be found in this <a target="newwin" href='https://guidance.data.gov.uk/publish_and_manage_data/harvest_or_add_data/add_data/#publishing-organograms'>guide to publishing organograms</a>.
      {% if h.is_central_gov_organogram(pkg_name) %}
        <br>
          You must use the <a target="newwin" href='https://ckan.publishing.service.gov.uk/publisher-files/Blank_Organogram_Template_latest.xls'>standard organogram template</a>.
          If you do not use this template, or if you change it (such as removing, adding or renaming columns), you'll see an error and your publishing will not work.
        <br>
          The template includes validation rules. If you see an error message after clicking Publish please read it carefully and make corrections in your spreadsheet, before clicking Publish again.
      {% endif %}
      </div>
    {% endif %}
  {% if 'resource-type' in data and data['resource-type'] == 'supporting-document' %}
    {% set supp = True %}
  {% else %}
    {% set supp = False %}
  {% endif %}
  {% if not h.activate_upload(pkg_name) %}
  <label class="control-label" for="field-resource-type">{{ _('Resource Type') }}</label>
  <div class="controls">
    <label class="radio">
       <input type="radio" id="resource-type-data-link" name="resource-type" value="data-link" {{ "checked" if supp == False }}>
       {{ _('Data Link') }}
    </label>
    <label class="radio">
       <input type="radio" id="resource-type-supporting-document" name="resource-type" value="supporting-document" {{ "checked" if supp == True }}>
       {{ _('Supporting Document') }}
    </label>
  </div>
  {% endif %}
  {% set is_upload = (data.url_type == 'upload') %}
  {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
      is_upload_enabled=h.uploads_enabled() and h.activate_upload(pkg_name), is_url=data.url and not is_upload, is_upload=is_upload,
      upload_label=_('Data'), url_label=_('URL'), placeholder=' ') }}
{% endblock basic_fields_url %}

{% block basic_fields_name %}
  {{ form.input('name', id='field-name', label=_('Name'), value=data.name, error=errors.name, classes=['control-full']) }}
{% endblock %}

{% block basic_fields_format %}
    {% if not h.is_central_gov_organogram(pkg_name) %}
        {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
        {% call form.input('format', id='field-format', label=_('Format'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
        <span class="info-block info-block-small">
            <i class="fa fa-info-circle"></i>
            {{ _('This will be guessed automatically. Leave blank if you wish') }}
        </span>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block save_button %}
<button class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Publish') }}{% endblock %}</button>
{% endblock %}

{% block add_button %}
<button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Publish') }}</button>
{% endblock %}

{% block basic_fields_description %}
  {{ form.input('datafile-date', type='date', label=_('Date'), id='field-datafile-date', value=data['datafile-date']) }}
{% endblock %}
