name: Build and push images on tags

on:
  workflow_dispatch:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build_and_push:
    name: Build and push the CKAN image with tags
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/build-image.yaml
    with:
      buildType: build_push_ckan
      gitRef: ${{ github.ref_name }}
