name: Build and push images on tags

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build_and_push:
    name: ${{ matrix.app.name }} (${{ matrix.arch }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app:
          - name: ckan
            version: 2.9.9
          - name: pycsw
            version: 2.4.0g
          - name: solr
            version: 8
        arch: [ amd64 ]
    permissions:
      packages: write
    steps:
      - name: Login to GHCR
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a  # v2.1.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.gitRef }}
      - name: Build and push images
        env:
          APP: ${{ matrix.app.name }}
          VERSION: ${{ matrix.app.version }}
          ARCH: ${{ matrix.arch }}
          GH_REF: ${{ github.ref_name }}
        run: ./docker/build-image.sh
