name: Create charts PR on tags creation

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  create_pr:
    name: Create charts PR
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout ckanext-datagovuk repository
        uses: actions/checkout@v3
        with:
          repository: alphagov/ckanext-datagovuk
          path: ckanext
      - run: bash ./ckanext/docker/create-pr.sh
        env:
          GH_TOKEN: ${{ secrets.PR_GITHUB_TOKEN }}
          GH_REF: ${{ github.ref_name }}
          ENVS: ( "staging" "production" )
